@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

body {
  font-family: 'Waltograph', fantasy;
  margin: 0;
  background-color: #f0f0f0; /* Light background color for better readability */
}

@keyframes moveClouds {
  0% { background-position: 0 0; }
  100% { background-position: 1000px 0; }
}

.stories-page {
  display: flex;
  flex-direction: column; /* Adjusts to column on smaller screens */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height instead of height for responsiveness */
  gap: 20px;
  background: url('../../Assets/Images/anchal-spacing-background-aceb-ca-b-bdcdd.jpg') repeat-x;
  background-size: cover; /* Adjust background size for better responsiveness */
  animation: moveClouds 30s linear infinite;
  padding: 20px;
}

.left-panel,
.right-panel {
  flex: 1;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px; /* Space between panels */
}

.left-panel:hover,
.right-panel:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.left-panel h1,
.right-panel h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .stories-page {
    flex-direction: row; /* Switch back to row layout for larger screens */
    background-size: contain;
  }
}
