/* Common styles */
.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

/* Styles for pages with sidebar */
.with-sidebar .content {
  margin-left: 60px;
}

.with-sidebar .sidebar.open + .content {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .with-sidebar .content {
    margin-left: 60px;
  }

  .with-sidebar .sidebar.open + .content {
    margin-left: 200px;
  }
}

/* Styles for pages without sidebar */
.without-sidebar .content {
  /* padding: 20px; Example padding, adjust as needed */
  margin-left: 0; /* Ensure no margin-left when sidebar is not present */
}

/* Additional styles (unrelated to sidebar) */
.App h1 {
  margin: 20px 0;
}

.App a:hover {
  /* background-color: #0056b3; */
}
